<div id="bio" class="content">
  <div class="bio-header">
    <h2 class="bio-right">ABOUT</h2>
  </div>
  <div class="bio-content">
    <div class="bio-left">
      <ul>
        <li><a href="https://www.behance.net/koosaked726">BEHANCE</a></li>
        <li><a href="http://eeter.co/">EETER</a></li>
        <li><a href="http://poroloon.tumblr.com/">TUMBLR</a></li>
        <li><a href="https://www.facebook.com/millimallikart?ref=hl">FACEBOOK</a></li>
        <li><a href="http://dk.linkedin.com/pub/k%C3%A4rt-koosapoeg/4b/30a/a09">LINKEDIN</a></li>
      </ul>
    </div>
    <div class="bio-right">
      <p>Greetings. I am talented young Estonian designer & illustrator named Kärt Koosapoeg working with different media including graphic design, illustration, portraits, large scale murals etc. I have previously worked for a year in one of the biggest advertisement agencies in Estonia - The Division, made an internship at a Danish agency Det Nye Sort and am currently finishing my studies.You can send offers, pictures, letters and funny gifs to my email
      <a href="mailto:koosapoegkart@gmail.com?subject=meow">koosapoegkart(at)gmail.com</a>.
    </div>
  </div>
  <div class="bio-header">
    <h2 class="bio-left">FRIENDS</h2>
    <h2 class="bio-right">AWARDS</h2>
  </div>
  <div class="bio-content">
    <div class="bio-left">
      <ul>
        <li><a href="https://github.com/tomiberes">TOMAS BERES</a></li>
        <li><a href="http://linnutee.org/">TANEL LIND</a></li>
        <li><a href="http://sander.eeter.co/">SANDER MEENTALO</a></li>
        <li><a href="https://www.behance.net/lauraliivo">LAURA LIIVO</a></li>
      </ul>
    </div>
    <div class="bio-right">
      <p>
      2014 WInning logo competition for Byens Rum
      <br>
      2012 Bronze in ADC*Estonia design awards - illustration category
      <br>
      2012 Special award "Kunstmuna" from Estonian design competition "Kuldmuna"
      <br>
      2012 3rd place from youth advertising competition V24
      <br>
      2012 Participated in the young creative Chevrolet design competition
      <br>
      2011 1st place from digital art competition by Eenet
      <br>
      2009 National 1st place in a comics competition held by the European Union
      <br>
      2009 The title "The best of liberal arts in 2009"
      <br>
      2008 Top 10 in an ex-libris design and drawing contest
      <br>
    </div>
  </div>
</div>
