<div id="byensrum" class="content project">
  <img src="assets/svg/ui_btn_x.svg" alt="Close" class="ui-btn-x">
  <img class="b-lazy" data-src="assets/img/byensrum_00.jpg" alt="Byensrum logo header">

  <div class="project-wrap">
    <h1>Byens Rum Logo</h1>
    <h2 class="text-left">
      <b>Client</b> | Byens Rum<br>
    </h2>
    <p class="text-right">
      This is a winnng work for a logo competition for Byens Rum. They are an organization that provides creative people working spaces. The inspiration came from layout schemes for apartments.
    </p>
    <img class="b-lazy" src="assets/img/byensrum_01.jpg" alt="inspiration">
    <p>
      As it was an extremely creative flexible organization the idea was to reflect that in the design. Thus the design became more flexible and something that could be used online in a way       that would be different from a standardized logo. Based on that an animated gif was made for web use. In addition a proposal was made for how the logo could be used.
    </p>
    <img class="b-lazy" data-src="assets/img/byensrum_02.gif"  alt="Animated logo">
    <img class="b-lazy" data-src="assets/img/byensrum_03.jpg"  alt="Poster ideas">
    <img class="b-lazy" data-src="assets/img/byensrum_04.jpg"  alt="Use of Byensrum logo">
    <img class="b-lazy" data-src="assets/img/byensrum_05.jpg"  alt="Use of Byensrum logo">
    <img class="b-lazy" data-src="assets/img/byensrum_06.jpg"  alt="Isolated logo">
  </div>
</div>
