<div id="godo" class="content project">
  <img src="assets/svg/ui_btn_x.svg" alt="Close" class="ui-btn-x">
  <img class="b-lazy" data-src="assets/img/godo_00.jpg" alt="Godo header">

  <div class="project-wrap">
    <h1>GODO Website</h1>
    <h2 class="text-left">
      <b>Client</b> | Christian Fumz
    </h2>
    <p class="text-right">
      Godo is concept created by Christian Fumz an creative project manager in Byens Rum.
      The concept was made for a proposal for the Aalborg Kommune (the local city government).
      The concept of GODO is a simple application website that could be used for getting support for varous creative projects.
      There is some basic branding included in the project.
    </p>
    <img class="b-lazy" data-src="assets/img/godo_01.jpg" alt="Godo logo closeup">
    <img class="b-lazy" data-src="assets/img/godo_02.jpg" alt="Godo branding material">
    <img class="b-lazy" data-src="assets/img/godo_03.jpg" alt="Godo brandbook">
    <p>
      The applications can be used to submit, get feedback and manage local activities and projects.
      Included in the application is a map with various locations to choose
      from and a calendar to keep track that events so they would not overlao.
      Some custom icons were developed for the website.
    </p>
    <img class="b-lazy" data-src="assets/img/godo_04.jpg" alt="Godo icon set">
    <img class="b-lazy" data-src="assets/img/godo_05.jpg" alt="Web landing page">
    <img class="b-lazy" data-src="assets/img/godo_06.jpg" alt="Make a new project">
    <img class="b-lazy" data-src="assets/img/godo_07.gif" alt="Choosing a location">
    <img class="b-lazy" data-src="assets/img/godo_08.jpg" alt="Managing applicaitons">
    <img class="b-lazy" data-src="assets/img/godo_09.jpg" alt="Web help out section">
    <img class="b-lazy" data-src="assets/img/godo_10.jpg" alt="Web calendar">
    <img class="b-lazy" data-src="assets/img/godo_11.jpg" alt="Mobile app landing page">
    <img class="b-lazy" data-src="assets/img/godo_12.gif" alt="Mobile app anmated layout">
    <img class="b-lazy" data-src="assets/img/godo_13.jpg" alt="Mobile app screen overview">
  </div>
</div>
