<div id="carto" class="content project">
    <img src="assets/svg/ui_btn_x.svg" alt="Close" class="ui-btn-x">
    <img class="b-lazy" data-src="/assets/img/carto_00.jpg" alt="Cartograph header">

  <div class="project-wrap">
    <h1>Cartograph</h1>
    <h2 class="text-left">
        <b>Client</b> | Cartograph
    </h2>
    <p class="text-right">
      The concept of Cartograph is a web page that people can use to record their travels. User is making a profile and add different travels under that. In one travel they can have several destinations. They can be as specific about their travel routes as they wish. The destinations are displayed on the map and are flexible. The destinations can be edited, moved up and down as desired and the mode of transportation can be chosen. These are are colour defined. The design is done so it could easily adapt mobile screens.
    </p>
    <img class="b-lazy" data-src="assets/img/carto_01.jpg" alt="Cartograph landing page">
    <img class="b-lazy" data-src="assets/img/carto_02.jpg" alt="Cartograph settings menu">
    <img class="b-lazy" data-src="assets/img/carto_03.jpg" alt="Cartograph make a new trip">
    <img class="b-lazy" data-src="assets/img/carto_04.jpg" alt="Cartograph list of trips">
    <img class="b-lazy" data-src="assets/img/carto_05.jpg" alt="Cartograph add a new destination on the trip">
    <img class="b-lazy" data-src="assets/img/carto_06.jpg" alt="Cartograph mobile app">
  </div>
</div>
