<div id="aalgreeters" class="content project">
  <img src="assets/svg/ui_btn_x.svg" alt="Close" class="ui-btn-x">
  <img class="b-lazy" data-src="assets/img/aalgreeters_00.jpg" alt="AALgreeters network header">

  <div class="project-wrap">
    <h1>Aalgreeters website</h1>
    <h2 class="text-left">
      <b>Client</b> | Visit Aalborg<br>
    </h2>
    <p  class="text-right">
      AALgreeters is project for creating a website for the greeters concept. The idea behind it is finding local volunteers to show people around the city. This case is designed for the city of Aalborg, where the name AALgreeters is derived from. The customer is a local tourism company Visit Aalborg whose purpose is to liven the shoe string tourism.
      <br>
      <br>
      The page consists of long landing page with the introduction and Instagram feed. Additional application process to become  a greeter is included although initially they are hand picked. There is a list of greeters with detailed profiles and comments from people who have visited them. Additional photographs by the greeters are added. There is a blog added to create new content and offer an opportunity to bring in visitors via newsletters. Short introduction to main sightseeing locations around in Aalborg and the contact information of the founder organization - Visit Aalborg.
    </p>
    <img class="b-lazy" src="assets/img/aalgreeters_08.jpg" alt="AAL greeters macbook mockup">
    <img class="b-lazy" src="assets/img/aalgreeters_01.jpg" alt="AAL greeters landing page">
    <img class="b-lazy" src="assets/img/aalgreeters_01.jpg" alt="AALgreeters host profiles">
    <img class="b-lazy" src="assets/img/aalgreeters_03.jpg" alt="AALgreeters personal profile fullview">
    <img class="b-lazy" src="assets/img/aalgreeters_04.jpg" alt="AALgreeters blog posts">
    <img class="b-lazy" src="assets/img/aalgreeters_05.jpg" alt="AALgreeters Aalborg sightseeing">
    <img class="b-lazy" src="assets/img/aalgreeters_06.jpg" alt="AALgreeters overview of Aalborg sightseeing detailed">
    <img class="b-lazy" src="assets/img/aalgreeters_07.jpg" alt="AALgreeters contact page">
  </div>
</div>
