<div id="tegudekalender" class="content project">
   <img src="assets/svg/ui_btn_x.svg" alt="Close" class="ui-btn-x">
   <img class="b-lazy" data-src="assets/img/tegudekalender_00.jpg" alt="tegude kalender header">

  <div class="project-wrap">
    <h1>Tegude Kalender identity</h1>
    <h2  class="text-left">
      Client | EwB Tegude Kalender<br>
      Design &amp; Illustrations | Kärt Koosapoeg
    </h2>
    <p class="text-right">
      Tegude kalender is a student startup project. They make calendars, where every day is different positive action. Every day has assigned to it, what a person should do on that day, for example: "Call your mom". The logo is derived from the concept, combining actions and ideas. As the calendar has illustrations from local artsts the style and feel of the logo itself is more         illustrative:
    </p>
    <img class="b-lazy" data-src="assets/img/tegudekalender_01.jpg" alt="Tegude Kalender logo buildup">
    <p class="text-right">
        Some basic stationay design was also included in the project and it was accompnaied by illustrations that would be used in the calendar.
    </p>
    <img class="b-lazy" data-src="assets/img/tegudekalender_02.jpg" alt="Tegude Kalender branding mockup">
    <img class="b-lazy" data-src="assets/img/tegudekalender_03.jpg" alt="Tegude Kalender use of illustration">
    <img class="b-lazy" data-src="assets/img/tegudekalender_04.jpg" alt="Tegude Kalender use of illustration">
    <img class="b-lazy" data-src="assets/img/tegudekalender_05.jpg" alt="Tegude Kalender use of illustration">
  </div>
</div>
