<div id="graphicd" class="tiles">
  <div class="tile">
    <a href="#/graphicd/project/godo">
      <div class="tile-headline">
        <p>
          GODO identity
        </p>
      </div>
      <div class="tile-img b-lazy" data-src="assets/img/tile_godo.jpg"></div>
    </a>
  </div>
  <div class="tile">
    <a href="#/graphicd/project/dawnwave">
      <div class="tile-headline">
        <p>
          Dawnwave app
        </p>
      </div>
      <div class="tile-img b-lazy" data-src="assets/img/tile_dawnwave.jpg"></div>
    </a>
  </div>
  <div class="tile">
    <a href="#/graphicd/project/carto">
      <div class="tile-headline">
        <p>
          Cartograph website
        </p>
      </div>
      <div class="tile-img b-lazy" data-src="assets/img/tile_carto.jpg"></div>
    </a>
  </div>
  <div class="tile">
    <a href="#/graphicd/project/aalgreeters">
      <div class="tile-headline">
        <p>
          AALgreeters website
        </p>
      </div>
      <div class="tile-img b-lazy" data-src="assets/img/tile_aalgreeters.jpg"></div>
    </a>
  </div>
  <div class="tile">
    <a href="#/graphicd/project/byensrum">
      <div class="tile-headline">
        <p>
          Byensrum identity
        </p>
      </div>
      <div class="tile-img b-lazy" data-src="assets/img/tile_byensrum.jpg"></div>
    </a>
  </div>
  <div class="tile">
    <a href="#/graphicd/project/tegudekalender">
      <div class="tile-headline">
        <p>
          Tegude Kalender identity
        </p>
      </div>
      <div class="tile-img b-lazy" data-src="assets/img/tile_tegudekalender.jpg"></div>
    </a>
  </div>
</div>
