<div id="dawnwave" class="content project">
  <img src="assets/svg/ui_btn_x.svg" alt="Close" class="ui-btn-x">
  <img class="b-lazy" data-src="assets/img/dawnwave_00.jpg" alt="Dawnwave mobile header">
  <div class="project-wrap">
    <h1>Dawnwave identity</h1>
    <p class="text-center">Dawnwave is a radio show born out of love of alternative music. They plays everything between punk-rock, noise, no-wave and yes-wave. The show is hosted by two people and airs in Thursdya mornings 7.30. From there the logo is derived with the name to create contrast.</p>
    <img class="b-lazy" data-src="assets/img/dawnwave_01.jpg" alt="logo build up">
    <p class="text-center">
      The imagery accompanying the identity should be disturbing, dark and noisy. Dawnwave is not your traditional explosion of clever colours and contrast, somethng that should come past in the resulting design.
    </p>
    <p class="text-center">
      Dawnwave should be available anytime anywhere. So it needed also an app design. Like in the images, the contrast has been turned down to make it noisy and dark just like the show.
    </p>
    <img class="b-lazy" data-src="assets/img/dawnwave_02.jpg" alt="Dawnwave facebook header">
    <img class="b-lazy" data-src="assets/img/dawnwave_03.jpg" alt="Use of logo on disturbing images">
    <img class="b-lazy" data-src="assets/img/dawnwave_04.gif" alt="Animated Dawnwave logo and loading screen">
    <img class="b-lazy" data-src="assets/img/dawnwave_05.jpg" alt="Apps startup screen">
    <img class="b-lazy" data-src="assets/img/dawnwave_06.gif" alt="Mobile apps functionality">
    <img class="b-lazy" data-src="assets/img/dawnwave_07.jpg" alt="List of podcasts">
    <img class="b-lazy" data-src="assets/img/dawnwave_08.jpg" alt="songlist">
    <img class="b-lazy" data-src="assets/img/dawnwave_09.jpg" alt="Full screen podcast">
  </div>
</div>
