<div id="klass" class="content project">
  <img src="assets/svg/ui_btn_x.svg" alt="Close" class="ui-btn-x">
  <img class="b-lazy" data-src="assets/img/klass_00.jpg" alt="Klass book design header">
  <div class="project-wrap">
    <h1>Klass book illustrations</h1>
    <p>
       Klass is youth oriented dramatic book telling a story about school and bulling. As the story is quite dark the illustrations are done in a comic-like style, being very somber. There were two books released. the second one being more nostalgic and reflective.
    </p class="text-center">
    <img class="b-lazy" data-src="assets/img/klass_01.jpg" alt="Klass book first book cover illustration">
    <img class="b-lazy" data-src="assets/img/klass_02.jpg" alt="Klass book home and classroom">
    <img class="b-lazy" data-src="assets/img/klass_03.jpg" alt="Klass book  class fight scene">
    <img class="b-lazy" data-src="assets/img/klass_04.jpg" alt="Klass book father and son3">
    <img class="b-lazy" data-src="assets/img/klass_05.jpg" alt="Klass book conclusion and cover illsutration">
    <img class="b-lazy" data-src="assets/img/klass_06.jpg" alt="Klass book second book cover">
    <img class="b-lazy" data-src="assets/img/klass_07.jpg" alt="Klass book walking down the street and the kitchen scene">
    <img class="b-lazy" data-src="assets/img/klass_08.jpg" alt="Klass book classroom and through the door scene">
    <img class="b-lazy" data-src="assets/img/klass_09.jpg" alt="Klass book street and bathroom fight scene">
    <img class="b-lazy" data-src="assets/img/klass_10.jpg" alt="Klass book car headlight scene">
  </div>
</div>
