<div id="conceptart" class="content project">
  <img src="assets/svg/ui_btn_x.svg" alt="Close" class="ui-btn-x">
  <img class="b-lazy" data-src="assets/img/conceptart_00.jpg" alt="concept art header">

  <div class="project-wrap">
    <h1>Concept art</h1>
    <p class="text-center">
       Concept art has been a passion for a couple of years. The main focus is on making portraits and playing with different light variations. There are also some other science fiction oriented character and suit designs.
    </p>
    <img class="b-lazy" data-src="assets/img/conceptart_01.jpg" alt="concept art science fiction postrait">
    <img class="b-lazy" data-src="assets/img/conceptart_02.jpg" alt="concept art lady with mushrooms portrait">
    <img class="b-lazy" data-src="assets/img/conceptart_03.jpg" alt="concept art birdmask portrait">
    <img class="b-lazy" data-src="assets/img/conceptart_04.jpg" alt="concept art foxmask portrait">
    <img class="b-lazy" data-src="assets/img/conceptart_05.jpg" alt="concept art tomb raider fanart">
    <img class="b-lazy" data-src="assets/img/conceptart_06.jpg" alt="concept art light portrait">
    <img class="b-lazy" data-src="assets/img/conceptart_07.jpg" alt="concept art underwater portrait">
    <img class="b-lazy" data-src="assets/img/conceptart_08.jpg" alt="concept art grasshopper mask portrait">
    <img class="b-lazy" data-src="assets/img/conceptart_09.jpg" alt="concept art polar bear mask portrait">
    <img class="b-lazy" data-src="assets/img/conceptart_10.jpg" alt="concept art got milk portrait">
    <img class="b-lazy" data-src="assets/img/conceptart_11.jpg" alt="concept art steampunk portrait">
    <img class="b-lazy" data-src="assets/img/conceptart_12.jpg" alt="concept art dishonoured fanart">
    <img class="b-lazy" data-src="assets/img/conceptart_13.jpg" alt="concept art tomb raider fanart">
    <img class="b-lazy" data-src="assets/img/conceptart_14.jpg" alt="concept art beakmask concept">
    <img class="b-lazy" data-src="assets/img/conceptart_15.jpg" alt="concept art birdlady concept">
    <img class="b-lazy" data-src="assets/img/conceptart_16.jpg" alt="concept art eurovision fanart">
    <img class="b-lazy" data-src="assets/img/conceptart_17.jpg" alt="concept art winter bird">
    <img class="b-lazy" data-src="assets/img/conceptart_18.jpg" alt="concept art spacesuit concept">
    <img class="b-lazy" data-src="assets/img/conceptart_19.jpg" alt="concept art flamethrower suit concept">
    <img class="b-lazy" data-src="assets/img/conceptart_20.jpg" alt="concept art space helmet concept 1">
    <img class="b-lazy" data-src="assets/img/conceptart_21.jpg" alt="concept art space helmet concept 2">
    <img class="b-lazy" data-src="assets/img/conceptart_22.jpg" alt="concept art space helmet concept 3">
    <img class="b-lazy" data-src="assets/img/conceptart_23.jpg" alt="concept art spaceship concept">
    <img class="b-lazy" data-src="assets/img/conceptart_24.jpg" alt="concept art extraterrestial landscape">
    <img class="b-lazy" data-src="assets/img/conceptart_25.jpg" alt="concept art rocky landscape">
    <img class="b-lazy" data-src="assets/img/conceptart_26.jpg" alt="concept art landscape">
  </div>
</div>
