<div id="sbook" class="content project">
  <img src="assets/svg/ui_btn_x.svg" alt="Close" class="ui-btn-x">
  <img class="b-lazy" data-src="assets/img/sbook_00.jpg" alt="Sketchbook header">

  <div class="project-wrap">
    <h1>Sketchbook illustrations</h1>
    <p class="text-center">
    These are some personal illustrations realised from my sketchbook. They were up on exhibition in winter 2013 in Estonia.
    </p>
    <img class="b-lazy" data-src="assets/img/sbook_01.jpg" alt="Sketchbook photo - monster and the girl">
    <img class="b-lazy" data-src="assets/img/sbook_02.jpg" alt="Sketchbook photo - decomposing body">
    <img class="b-lazy" data-src="assets/img/sbook_03.jpg" alt="Sketchbook photo - lovers">
    <img class="b-lazy" data-src="assets/img/sbook_04.jpg" alt="Sketchbook photo - autopsy">
    <img class="b-lazy" data-src="assets/img/sbook_05.jpg" alt="Sketchbook photo - underwater tentacles">
    <img class="b-lazy" data-src="assets/img/sbook_06.jpg" alt="Sketchbook photo - breaking glass">
    <img class="b-lazy" data-src="assets/img/sbook_07.jpg" alt="Sketchbook photo - melting face">
    <img class="b-lazy" data-src="assets/img/sbook_08.jpg" alt="Sketchbook photo - bones through skin">
    <p class="text-center">
    Afterwards, the colour was added to the sketches.
    </p>
    <img class="b-lazy" data-src="assets/img/sbook_09.jpg" alt="Sketchbook ape">
    <img class="b-lazy" data-src="assets/img/sbook_10.jpg" alt="Sketchbook under water tentacles">
    <img class="b-lazy" data-src="assets/img/sbook_11.jpg" alt="Sketchbook childhood bear">
    <img class="b-lazy" data-src="assets/img/sbook_12.jpg" alt="Sketchbook breaking glass">
    <img class="b-lazy" data-src="assets/img/sbook_13.jpg" alt="Sketchbook beauty and the beast">
    <img class="b-lazy" data-src="assets/img/sbook_14.jpg" alt="Sketchbook lovers">
    <img class="b-lazy" data-src="assets/img/sbook_15.jpg" alt="Sketchbook etno girl">
    <img class="b-lazy" data-src="assets/img/sbook_16.jpg" alt="Sketchbook bone structure">
    <img class="b-lazy" data-src="assets/img/sbook_17.jpg" alt="Sketchbook tentacle autopsy">
    <img class="b-lazy" data-src="assets/img/sbook_18.jpg" alt="Sketchbook halfmon body">
    <img class="b-lazy" data-src="assets/img/sbook_19.jpg" alt="Sketchbook water layers">
  </div>
</div>
