<div id="whale" class="content project">
  <img src="assets/svg/ui_btn_x.svg" alt="Close" class="ui-btn-x">
  <img class="b-lazy" data-src="assets/img/whale_00.jpg" alt="whale wall mural header">

  <div class="project-wrap">
    <h1>Whale Wall painting </h1>
    <h2 class="text-left">
      <b>Location</b> | Karolinelundsvej Park, Aalborg<br>
    </h2>
    <p class="text-right">
      A personal project I felt very strongly about realizing. Includes the initial sketch. The whole process took exactly a day and the help of couple of friends. The whole length of the painting was arond 10 meters.
    </p>
    <img class="b-lazy" data-src="assets/img/whale_01.jpg" alt="whale wall mural sketch">
    <img class="b-lazy" data-src="assets/img/whale_02.jpg" alt="whale wall mural front part">
    <img class="b-lazy" data-src="assets/img/whale_03.jpg" alt="whale wall mural middle part">
    <img class="b-lazy" data-src="assets/img/whale_04.jpg" alt="whale wall mural tail part">
    <img class="b-lazy" data-src="assets/img/whale_05.jpg" alt="whale wall mural full image">
    <iframe src="//player.vimeo.com/video/114560991?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="100%" height="80%" class="whale-content-image" frameborder="0"                     webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
