<div id="sakukalender" class="content project">
  <img src="assets/svg/ui_btn_x.svg" alt="Close" class="ui-btn-x">
  <img class="b-lazy" data-src="assets/img/sakukalender_00.jpg" alt="saku calendar header">

  <div class="project-wrap">
    <h1>SAKU CALENDAR</h1>
    <h2 class="text-left">
      <b>Client</b> | Saku Brewery<br>
      <b>AGENCY</b> | The Division<br>
      <b>CREATIVE DIRECTOR</b>  | Tõnu Sikk
    </h2>
    <p class="text-right">
      Saku Brewery is one of the main beer producers in Estonia. They comissioned
      a calendar for sending to their clients and collaborators. The identity of
      the beer is based on stressing the history and traditions that goes into making
      the beer and from there the idea is derived from. The concept of the calendar was
      to imitate historically important artists works using their main beer glass.
      My assignment was to make the illustrations for it.
    </p>
    <img class="b-lazy" data-src="assets/img/sakukalender_01.jpg" alt="workplace picture">
    <p class="text-right">
      The best part of the project was doing research on the techniques of the various
      artists and using the knowledge to reproduce that. The artist that were used
      were: Cezanne, Gaugin, Tolouse-Lautrec, Bernard, Marc, van Gogh, Degas, Kirchner,
      Monet, Seurat, Dürer and Mane.
    </p>
    <img class="b-lazy" data-src="assets/img/sakukalender_02.jpg" alt="saku calendar cover">
    <img class="b-lazy" data-src="assets/img/sakukalender_03.jpg" alt="saku calendar - january, february">
    <img class="b-lazy" data-src="assets/img/sakukalender_04.jpg" alt="saku calendar - march, april">
    <img class="b-lazy" data-src="assets/img/sakukalender_05.jpg" alt="saku calendar - may, june">
    <img class="b-lazy" data-src="assets/img/sakukalender_06.jpg" alt="saku calendar - july, august">
    <img class="b-lazy" data-src="assets/img/sakukalender_07.jpg" alt="saku calendar - september, october">
    <img class="b-lazy" data-src="assets/img/sakukalender_08.jpg" alt="saku calendar - november, december">
  </div>
</div>
