<div id="illustrations" class="tiles">
  <div class="tile">
    <a href="#/illustrations/project/aau">
      <div class="tile-headline">
        <p>
          Aalborg University poster
        </p>
      </div>
      <div class="tile-img b-lazy" data-src="assets/img/tile_aau.jpg"></div>
    </a>
  </div>
  <div class="tile">
    <a href="#/illustrations/project/sakukalender">
      <div class="tile-headline">
        <p>
          Saku Calendar
        </p>
      </div>
      <div class="tile-img b-lazy" data-src="assets/img/tile_sakukalender.jpg"></div>
    </a>
  </div>
  <div class="tile">
    <a href="#/illustrations/project/klass">
      <div class="tile-headline">
        <p>
          Klass book illustrations
        </p>
      </div>
      <div class="tile-img b-lazy" data-src="assets/img/tile_klass.jpg"></div>
    </a>
  </div>
  <div class="tile">
    <a href="#/illustrations/project/sbook">
      <div class="tile-headline">
        <p>
          Sketch book illustrations
        </p>
      </div>
      <div class="tile-img b-lazy" data-src="assets/img/tile_sbook.jpg"></div>
    </a>
  </div>
  <div class="tile">
    <a href="#/illustrations/project/conceptart">
      <div class="tile-headline">
        <p>
          Concept art
        </p>
      </div>
      <div class="tile-img b-lazy" data-src="assets/img/tile_conceptart.jpg"></div>
    </a>
  </div>
  <div class="tile">
    <a href="#/illustrations/project/whale">
      <div class="tile-headline">
        <p>
          Whale wall mural
        </p>
      </div>
      <div class="tile-img b-lazy" data-src="assets/img/tile_whale.jpg"></div>
    </a>
  </div>
</div>
