<div id="aau" class="content project">
  <img src="assets/svg/ui_btn_x.svg" alt="Close" class="ui-btn-x">
  <img class="b-lazy" data-src="assets/img/aau_00.jpg" alt="Aalborg university illustrations header">

  <div class="project-wrap">
    <h1>AAlborg University Poster</h1>
    <h2 class="text-left">
      Client | Aalborg University<br>
      AGENCY | Det Nye Sort<br>
      CREATIVE DIRECTOR | Nichlas Tougaard
    </h2>
    <p  class="text-right">
      Aalborg University needed to promote their new studies in production managment and therefore needed visuals to promote it. The concept behind the visuals was "make it work better". The visuals are supposed to be entertaining, making up complicated machines that would do the simplest tasks.
      The tasks mentioned are: making tea, making electricity, snail mail and making an omlet.
    </p>
    <img class="b-lazy" data-src="assets/img/aau_01.jpg" alt="Aalborg university illustrations poster - exercise">
    <img class="b-lazy" data-src="assets/img/aau_02.jpg" alt="Aalborg university illustrations poster making an omlet">
    <img class="b-lazy" data-src="assets/img/aau_03.jpg" alt="Aalborg university illustrations poster making tea">
    <img class="b-lazy" data-src="assets/img/aau_04.jpg" alt="Aalborg university illustrations gocard variations">
    <img class="b-lazy" data-src="assets/img/aau_05.gif" alt="Aalborg university illustrations web banner">
    <img class="b-lazy" data-src="assets/img/aau_06.jpg" alt="Aalborg university illustrations exercise poster closeup">
    <img class="b-lazy" data-src="assets/img/aau_07.jpg" alt="Aalborg university illustrations making tea closeup">
  </div>
</div>
