<div id="landing" class="content">
  <div class="slides">
    <ul class="slides-wrap">
      <li class="slide" style="background-color: #2DCC70;">
        <img class="b-lazy" src="assets/img/slideshow_01.jpg"
          data-src="" alt="Landing">
      </li>
      <li class="slide" style="background-color: #C1C1C1">
        <img class="b-lazy" src="assets/img/slideshow_02.jpg"
          data-src="" alt="Dawnwave">
        <div class="slides-shortcut">
          <a href="#/graphicd/project/dawnwave" >TO PROJECT</a>
        </div>
      </li>
      <li class="slide" style="background-color: #002552">
        <img class="b-lazy" src="assets/img/slideshow_03.png"
          data-src="" alt="SBook">
        <div class="slides-shortcut">
          <a href="#/illustrations/project/aau" >TO PROJECT</a>
        </div>
      </li>
    </ul>
    <div class="slides-nav">
      <button class="slides-prev">
        PREV
      </button>
      <button class="slides-next">
        NEXT
      </button>
    </div>
  </div>
</div>
