<div id="menu">
  <div id="menu-name" class="entry">
      <ul class="buttons">
          <li class="link" id="link-landing">
              <a href="#/landing">KÄRT KOOSAPOEG</a>
          </li>
      </ul>
  </div>
  <div id="menu-options" class="entry">
      <ul class="buttons">
          <li class="link" id="link-graphicd">
              <a href="#/graphicd">Graphic design</a>
          </li>
          <li class="link" id="link-illustrations">
              <a href="#/illustrations">Illustrations</a>
          </li>

          <li class="link" id="link-bio">
              <a href="#/bio">Bio</a>
          </li>
      </ul>
  </div>
</div>
